<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="TrimmedTextLength" value="300" />
    <!-- MongoDB -->
    <add key="MongoDB_ConnectionString" value="mongodb://localhost" />
    <add key="MongoDB_DatabaseName" value="Test_ClarabridgeChallenge" />
  </appSettings>
  <connectionStrings>
    <add name="ClarabridgeConnectionString" connectionString="Server=RICH-PRIEST\MSSQLSERVER12;Database=Clarabridge;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity>
    <containers>
      <container>
        <types>
          <!-- Select different storage repositories, LocalStorage, NoSql DB, or SQL -->
          <!--<type type="ClarabridgeChallenge.Repository.Interfaces.IPressReleaseRepository, ClarabridgeChallenge.Repository" mapTo="ClarabridgeChallenge.Repository.LocalStorage.PressReleaseRepository, ClarabridgeChallenge.Repository" />-->
          <!--<type type="ClarabridgeChallenge.Repository.Interfaces.IPressReleaseRepository, ClarabridgeChallenge.Repository" mapTo="ClarabridgeChallenge.Repository.NoSqlStorage.PressReleaseRepository, ClarabridgeChallenge.Repository" />-->
          <type type="ClarabridgeChallenge.Repository.Interfaces.IPressReleaseRepository, ClarabridgeChallenge.Repository" mapTo="ClarabridgeChallenge.Repository.SqlStorage.PressReleaseRepository, ClarabridgeChallenge.Repository" />
        </types>
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>