@{
    ViewBag.Title = "Contact Me";
}
<div id="contact" class="content">
    <header>
        <div class="center">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
        </div>
    </header>
    <div>
        <u>Richard Priest</u>
    </div>
    <div>
        1150 K Street NW, apt 605<br />
        Washington 20005<br />
        District of Columbia
    </div>

    <div>
        <strong>Phone:</strong>(571)-455-9021<br />
        <strong>Support:</strong> <a href="mailto:RichardPriest@gmail.com">RichardPriest@gmail.com</a>
    </div>
</div>
